@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

#root {
    height: 100%;
    width: 100%;
    display: flex;
}

._2RbVy {
    fill: rgb(125, 181, 154) !important;
}

._2pZMF {
    fill: rgb(17, 134, 77) !important;
}
